@model Afaqy_Store.Models.SystemServerIPViewModel

@{
    ViewBag.Title = Resources.ServerManagement.SystemServerIPDetails;
    Layout = "~/Views/Shared/_Popup.cshtml";
}

<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h2 class="modal-title">@Resources.ServerManagement.SystemServerIPDetails</h2>
</div>

@using (Html.BeginForm())
{
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>
                @Resources.ServerManagement.ServerIP
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ServerIP)
            </dd>

            <dt>
                @Resources.ServerManagement.System
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TechniqueSystem.SystemName)
            </dd>

            <dt>
                @Resources.Resource.IsBlock
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Block)
            </dd>

            <dt>
                @Resources.Resource.CreateUserFullNameEn
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreateUser.FullName_En)
            </dd>

            <dt>
                @Resources.Resource.CreateDateTime
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreateDate)
            </dd>

            <dt>
                @Resources.Resource.ModifyUserFullNameEn
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifyUser.FullName_En)
            </dd>

            <dt>
                @Resources.Resource.ModifyDateTime
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifyDate)
            </dd>
        </dl>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="cancel()">@Resources.Resource.ButtonOk</button>
    </div>
}