@model Afaqy_Store.Models.SystemServerIPEditModel
@using Classes.Helper;
@using BeyondThemes.Bootstrap;

@{
    ViewBag.Title = Resources.ServerManagement.SystemServerIPEdit;
    Layout = "~/Views/Shared/_Popup.cshtml";
}

<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h2 class="modal-title">@Resources.ServerManagement.SystemServerIPEdit</h2>
</div>


@using (Html.BeginForm())
{
    <div class="modal-body">
        @Html.AntiForgeryToken()
        <div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => Model.EditItem.SystemServerId)
            <div class="form-group">
               @Html.LabelFor(model => Model.EditItem.ServerIP, Resources.ServerManagement.ServerIP, htmlAttributes: new { @class = "text-info" })
                @Html.EditorFor(model => Model.EditItem.ServerIP, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => Model.EditItem.ServerIP, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.EditItem.SystemId, Resources.ServerManagement.System, htmlAttributes: new { @class = "text-info" })
                @Html.CustomDropdownListFor(m => m.EditItem.SystemId, Model.TechniqueSystem, null, Resources.Resource.SelectItem, htmlAttributes: new { @class = "form-control", @name = "SystemId", @id = "SystemId" })
                @Html.ValidationMessageFor(model => model.EditItem.SystemId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.Bootstrap().CheckBoxFor(model => model.EditItem.IsBlock).Text(Resources.Resource.Block).HtmlAttributes(new { @class = "colored-danger" })
            </div>
            <div>
                @Html.HiddenFor(model => model.EditItem.CreateUserId)
                @Html.HiddenFor(model => model.EditItem.CreateDate)
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" value="@Resources.Resource.ButtonSave" class="btn btn-success" />
        <button class="btn btn-default" type="button" ng-click="cancel()">@Resources.Resource.ButtonCancel</button>
    </div>
}

@section scripts {
<script src="~/Content/js/select2/select2.js"></script>
<script>
    $(document).ready(function () {
        //--Jquery Select2--
        $("#SystemId").select2();
        $('#form').submit(function (event) {
            if (!$(this).valid()) {
                event.preventDefault();
            }
        });
    });
</script>
}

