@using BeyondThemes.Bootstrap;
@using Classes.Utilities;
@using Classes.Common;
@using Classes.Helper;
@using Newtonsoft.Json;
@{
    ViewBag.Title = Resources.Store.DeliveryRequest;
    Layout = "~/Views/Shared/_Default.cshtml";
}


<br />
<div class="row" ng-controller="DeliveryRequestCtrl">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header ">
                <span class="widget-caption">@Resources.Store.DeliveryRequest</span>
                <div class="widget-buttons">
                    <a href="javascript:void(0);" data-toggle="maximize">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a href="javascript:void(0);" data-toggle="collapse">
                        <i class="fa fa-minus"></i>
                    </a>
                    <a href="javascript:void(0);" data-toggle="dispose">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="widget-body">
                @{
                    //check for alert messages
                    if (ViewBag.AlertMessage != null)
                    {
                        var alertMessage = (AlertMessage)ViewBag.AlertMessage;
                        switch (alertMessage.MessageType)
                        {
                            case Enums.AlertMessageType.Success:
                                using (Html.Bootstrap().Begin(new Alert().HtmlAttributes(new { id="alert"}).Style(AlertColor.Success).Closeable()))
                                {
                                    <i class="fa-fw fa fa-check"></i>
                                    <strong>@Resources.Resource.AlertSuccess</strong> <span>@alertMessage.MessageContent</span>
                                }
                                break;
                            case Enums.AlertMessageType.Error:
                                using (Html.Bootstrap().Begin(new Alert().HtmlAttributes(new { id = "alert" }).Style(AlertColor.Error).Closeable()))
                                {
                                    <i class="fa-fw fa fa-times"></i>
                                    <strong>@Resources.Resource.AlertError</strong> <span>@alertMessage.MessageContent</span>
                                }
                                break;
                            case Enums.AlertMessageType.Warning:
                                using (Html.Bootstrap().Begin(new Alert().HtmlAttributes(new { id = "alert" }).Style(AlertColor.Warning).Closeable()))
                                {
                                    <i class="fa-fw fa fa-warning"></i>
                                    <strong>@Resources.Resource.AlertWarning</strong> <span>@alertMessage.MessageContent</span>
                                }
                                break;
                            case Enums.AlertMessageType.info:
                                using (Html.Bootstrap().Begin(new Alert().HtmlAttributes(new { id = "alert" }).Style(AlertColor.Info).Closeable()))
                                {
                                    <i class="fa-fw fa fa-info"></i>
                                    <strong>@Resources.Resource.AlertInfo</strong> <span>@alertMessage.MessageContent</span>
                                }
                                break;
                            default:
                                break;
                        }
                    }
                }
                
                <div class="table-toolbar">
                    <a  ng-click="create()" class="btn purple" id="addBtn"> 
                        <i class="fa fa-plus"></i> @Resources.Resource.ButtonAdd
                    </a>
                    <a  ng-click="DeleteItems($event);" class="btn btn-danger">
                        <i class="fa fa-times"></i> @Resources.Resource.ButtonDelete
                    </a>
                    <div class="btn-group pull-right">
                        <a class="btn btn-default" href="javascript:void(0);">@Resources.Resource.Tools</a>
                        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu dropdown-default">
                            <li>
                                <a href="javascript:void(0);" ng-click="ExportAllDataAsCsv()">@Resources.Resource.ExportAllDataCsv</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" ng-click="ExportVisibleDataAsCsv()">@Resources.Resource.ExportVisibleDataCsv</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" ng-click="ExportAllDataAsPdf()">@Resources.Resource.ExportAllDataPdf</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" ng-click="ExportVisibleDataAsPdf()">@Resources.Resource.ExportVisibleDataPdf</a>
                            </li> 
                            <li>
                                <a href="@Url.Action("Export")">@Resources.Resource.Export</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" ng-click="ToggoleGridFilter();">Toggole Filtering </a>
                            </li>
                        </ul>
                    </div>
                </div>
                @{ Html.RenderAction("Partial_Grid", "Common"); }
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>
        var gridColumnDefs = [
            { field: 'CustomerName_en', name: '@Resources.ServerManagement.Customer', width: 200 },
            { field: 'SaleTransactionType_en', name: '@Resources.Sales.SaleTransactionType', width: 150 },
            { field: 'DeliveryDateTime', name: '@Resources.Store.DeliveryDateTime', width: 180 },
            { field: 'DeliveryRequestStatus_en', name: '@Resources.Store.DeliveryRequestStatus', width: 150 },
            { field: 'Note', name: '@Resources.Store.DeliveryRequestNote', width: 200 },
            { field: 'IsBlock', name: '@Resources.Resource.IsBlock', width: 100 },
            {
                name: 'Action', cellTemplate: '<div class="ui-grid-cell-contents ng-binding ng-scope">' +
                    '<button class="btn btn-info btn-xs edit action-edit" ng-click="grid.appScope.edit(row.entity.DeliveryRequestId)" ><i class="fa fa-edit"></i>@Resources.Resource.ButtonEdit</button>' +
                    '<button class="btn btn-xs" ng-click="grid.appScope.details(row.entity.DeliveryRequestId)"><i class="fa fa-info"></i>@Resources.Resource.ButtonDetails</button>' +
                    '</div>',
                enableSorting: false, enableFiltering: false, width: 180
            }
        ];

        var deleteModalOptions = {
            closeButtonText: '@Resources.Resource.DeleteConfirmCloseButton',
            actionButtonText: '@Resources.Resource.DeleteConfirmActionButton',
            headerText: '@Resources.Resource.DeleteConfirmDialogHeader',
            bodyText: '@Resources.Resource.DeleteConfirmDialogBody'
        };

        var getViewActionUrl = '@Url.Action("GetView")';
        var createActionUrl = '@Url.Action("Create")';
        var editActionUrl = '@Url.Action("Edit")';
        var detailsActionUrl = '@Url.Action("Details")';
        var deleteActionUrl = '@Url.Action("DeleteGroup")';

        var itemFamilies = @Html.Raw(JsonConvert.SerializeObject(((List<SelectListItem>)ViewBag.ItemFamilies)));
        var modelTypes = @Html.Raw(JsonConvert.SerializeObject(((List<SelectListItem>)ViewBag.ModelTypes)));

        var requestDetailsGridColumnDefs = [
            {
                name: 'ItemType',
                cellTemplate: '<div class="ui-grid-cell-contents ng-binding ng-scope" uib-dropdown dropdown-append-to-body >' +
                    '<div class="form-group">'+
                    '<select class="form-control" ng-change="grid.appScope.bindModel(SelectedFamily,grid.renderContainers.body.visibleRowCache.indexOf(row))" ng-model="SelectedFamily" >' +
                    '<option ng-repeat="itemFamily in row.entity.ItemFamilies" value="{{itemFamily.Value}}">{{itemFamily.Text}}</option>' +
                    '</select>'+
                    '</div>',
                enableSorting: false, enableFiltering: false, enableHiding: false,
                width: '22%'
            },
            {
                name: 'ModelType',
                cellTemplate: '<div class="ui-grid-cell-contents ng-binding ng-scope" >' +
                    '<div class="form-group"> ' +
                    '<select class="form-control" ng-model="SelectedModel" name="DeliveryRequestDetails[{{grid.renderContainers.body.visibleRowCache.indexOf(row)}}].DeviceModelTypeId" >' +
                    '<option ng-repeat="modelType in row.entity.ModelTypes track by $index" value="{{modelType.Value}}">{{modelType.Text}}</option>' +
                    '</select>'+
                    ' </div>' ,
                enableSorting: false, enableFiltering: false, enableHiding: false,
                width: '37%', height:100
            },
            {
                name: 'Quantity',
                cellTemplate: '<div class="ui-grid-cell-contents ng-binding ng-scope" >' +
                    '<div class="form-group"> ' +
                    '<input class="form-control" ng-model="Quantity" type="number" min="1" value="1" name="DeliveryRequestDetails[{{grid.renderContainers.body.visibleRowCache.indexOf(row)}}].Quantity" />' +
                    ' </div>' ,
                enableSorting: false, enableFiltering: false, enableHiding: false,
                width: '16%'
            },
            {
                name: 'Note',
                cellTemplate: '<div class="ui-grid-cell-contents ng-binding ng-scope" >' +
                    '<div class="form-group"> ' +
                    '<input class="form-control" ng-model="Note" name="DeliveryRequestDetails[{{grid.renderContainers.body.visibleRowCache.indexOf(row)}}].Note" />' +
                    ' </div>' ,
                enableSorting: false, enableFiltering: false, enableHiding: false,
                width: '20%'
            }

        

        ];

        //
        //ng-model="ModelType[grid.renderContainers.body.visibleRowCache.indexOf(row)].selectedType"
        //ng-model="selectedItemFamily"
        //<select class="form-control" ><option ng-repeat="item in itemFamilies track by $index">{{item.Text}}</option></select>
        
    </script>
}