@model Afaqy_Store.DataLayer.DeviceSIM
@using Classes.Helper;
@{
    ViewBag.Title = Resources.ServerManagement.DeviceConfigurationCreate;
    Layout = "~/Views/Shared/_Popup.cshtml";
}

<style>
    .counterDiv {
        display: inline-block;
    }

    .counterBody {
        padding-left: 0px;
        padding-right: 0px;
    }
    .loading {    
        background-color: #ffffff;
        background-image: url("../../Content/img/loader.gif");
        background-size: 25px 25px;
        background-position:right center;
        background-repeat: no-repeat;
    }
    /*.ng-invalid
    {
        border-color:red;
    }*/
</style>

<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h2 class="modal-title">@Resources.ServerManagement.DeviceConfigurationNew</h2>
</div>

@using (Html.BeginForm("CreateGroup", null, FormMethod.Post, new { id = "form" }))
{
    <div class="modal-body">
        @Html.AntiForgeryToken()
        <div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-xs-6 form-group counterDiv">
                    <div class="col-lg-6 col-sm-6 col-xs-6 counterBody">
                        @Html.Label("", Resources.Resource.ItemsCount, htmlAttributes: new { @class = "text-info" })
                        <div class="spinbox spinbox-horizontal spinbox-right">
                            <div class="spinbox-buttons	btn-group">
                                <button type="button" ng-click="counterValueChanged()" class="btn spinbox-down blueberry" ng-disabled="counterMinusDisabled">
                                    <i class="fa fa-minus" ng-disabled="counterMinusDisabled"></i>
                                </button>
                                <button type="button" ng-click="counterValueChanged()" class="btn spinbox-up purple">
                                    <i class="fa fa-plus" ></i>
                                </button>
                            </div>
                            <input type="text" ng-model="itemsCount" ng-change="counterValueChanged()" class="spinbox-input form-control form mb-2 mr-sm-2 mb-sm-0" value="1" min="1">
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align:center"><label class="text-info">@Resources.Store.Devices</label></th>
                        <th colspan="4" style="text-align:center"><label class="text-info">@Resources.ServerManagement.SIMCards</label></th>
                    </tr>
                    <tr>
                        <th><label class="text-info">@Resources.Store.DeviceIMEI</label></th>
                        <th><label class="text-info">@Resources.Store.DeviceSerialNumber</label></th>
                        <th><label class="text-info">@Resources.ServerManagement.SIMCardSerialNumber</label></th>
                        <th><label class="text-info">@Resources.ServerManagement.SIMCardCompanySerialNumber</label></th>
                        <th><label class="text-info">@Resources.ServerManagement.SIMCardGSM</label></th>
                        <th><label class="text-info">@Resources.ServerManagement.SIMCardAltGSM</label></th>
                    </tr>
                </thead>
                <tbody id="items" ng-repeat="item in items">  @*track by $index*@
                    <tr>
                        <td width="18%"><input name="items[{{items.indexOf(item)}}].IMEI" ng-model="item.IMEI" ng-change="getDeviceIDByIMEI({{items.indexOf(item)}})" class="form-control {{items[items.indexOf(item)].Inputs.IMEI_LoadingClass}}" required/></td>
                        <td width="12%"><input name="items[{{items.indexOf(item)}}].DeviceSerial" ng-model="item.DeviceSerial" ng-change="getDeviceIDBySerial({{items.indexOf(item)}})" class="form-control {{items[items.indexOf(item)].Inputs.DeviceSerial_LoadingClass}}" /> <input name="items[{{items.indexOf(item)}}].DeviceId" value="{{item.DeviceId}}" type="hidden" class="form-control" /></td>
                        <td width="20%"><input name="items[{{items.indexOf(item)}}].SIMCardSerial" ng-model="item.SIMCardSerial" ng-change="getSIMCardIDBySerial({{items.indexOf(item)}})" class="form-control {{items[items.indexOf(item)].Inputs.SIMCardSerial_LoadingClass}}" required/></td>
                        <td width="20%"><input name="items[{{items.indexOf(item)}}].CompanySerialNumber" ng-model="item.CompanySerialNumber" ng-change="getSIMCardIDByCompanySerial({{items.indexOf(item)}})" class="form-control {{items[items.indexOf(item)].Inputs.CompanySN_LoadingClass}}" /> <input name="items[{{items.indexOf(item)}}].SIMCardId" value="{{item.SIMCardId}}" type="hidden" class="form-control" /></td>
                        <td width="15%"><input name="items[{{items.indexOf(item)}}].GSM" ng-model="item.GSM"  ng-change="getSIMCardIDByGSM({{items.indexOf(item)}})" class="form-control {{items[items.indexOf(item)].Inputs.GSM_LoadingClass}}" required /></td>
                        <td width="15%"><input name="items[{{items.indexOf(item)}}].AltGSM" ng-model="item.AltGSM" ng-change="getSIMCardIDByAltGSM({{items.indexOf(item)}})" class="form-control {{items[items.indexOf(item)].Inputs.AltGSM_LoadingClass}}" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" value="@Resources.Resource.ButtonSave" class="btn btn-success" />
        <button class="btn btn-default" type="button" ng-click="cancel()">@Resources.Resource.ButtonCancel</button>
    </div>

}


@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <!--Fuelux Spinbox-->
    <script src="~/Content/js/fuelux/spinbox/fuelux.spinbox.min.js"></script>

    <script>
        $(document).ready(function () {


            //var itemsCount = 1;
            //var itemRow = $('#itemRow_1');

            //--Fuelux Spinbox--
            $('.spinbox').spinbox();

            $('.spinbox-input').val(1);

            $('#form').submit(function (event) {
                if (!$(this).valid()) {
                    event.preventDefault();
                }

            });
        });

        var DeviceGetInfoUrl = '@Url.Action("GetInfo","Device")';
        var SIMCardGetInfoUrl = '@Url.Action("GetInfo","SIMCard")';

    </script>
}




