@model Afaqy_Store.Models.DeliveryNoteCreateBindModel
@using BeyondThemes.Bootstrap;
@using Newtonsoft.Json;

@{
    ViewBag.Title = Resources.Store.DeliveryNoteCreate;
    Layout = "~/Views/Shared/_Popup.cshtml";
}


<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" />
<link rel="stylesheet" href="~/Content/css/1.custom-style/AngularDDL.css" />

<style>
    .row-dropdownlist
    {
        height: 22px;
        padding: 0px 5px;
    }
    .gridcustom-select {
        position:absolute;
        height:22px;
        width: 37%
    }
    .gridcustom-select.open > a.dropdown-toggle {
        line-height: 22px;
    }
    .gridcustom-select > a.dropdown-toggle {
        height:22px;
        line-height:22px;
    }
    .loading {    
        background-color: #ffffff;
        background-image: url("../../Content/img/loader.gif");
        background-size: 25px 25px;
        background-position:right center;
        background-repeat: no-repeat;
    }
</style>

<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h2 class="modal-title">@Resources.Store.DeliveryNoteNew</h2>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form" }))
{
    <div class="modal-body withVScroll" >
        @Html.AntiForgeryToken()
        <div >
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.DeliveryRequestId)
            <div class="row">
                <div class="col-xs-6 form-group">
                    @Html.LabelFor(model => model.POSId, Resources.Sales.POS, htmlAttributes: new { @class = "text-info" })
                    @Html.Label(Model.DeliveryRequestView.POSName_en, new { @class = "form-control" })
                </div>
                <div class="col-xs-6 form-group">
                    @Html.LabelFor(model => model.WarehouseId, Resources.Adminstration.Warehouse, htmlAttributes: new { @class = "text-info" })
                    @Html.Label(Model.DeliveryRequestView.WarehouseName_en, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 form-group"> 
                    @Html.LabelFor(model => model.SaleTransactionTypeId, Resources.Sales.SaleTransactionType, htmlAttributes: new { @class = "text-info" })
                    @Html.Label(Model.DeliveryRequestView.SaleTransactionType_en, new { @class = "form-control" })
                </div>
                <div class="col-xs-6 form-group"> 
                    @Html.LabelFor(model => model.CustomerId, Resources.ServerManagement.Customer, htmlAttributes: new { @class = "text-info" })
                    @Html.Label(Model.DeliveryRequestView.CustomerName ?? " ", new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 form-group">
                    @Html.LabelFor(model => model.CustomerContactId, Resources.Sales.CustomerContact, htmlAttributes: new { @class = "text-info" })
                    @Html.Label(Model.DeliveryRequestView.ContactName_en ?? " ", new { @class = "form-control" })
                </div>
                <div class="col-xs-6 form-group">
                    @Html.LabelFor(model => model.SystemId, Resources.ServerManagement.System, htmlAttributes: new { @class = "text-info" })
                    <label class = "form-control">@(Model.DeliveryRequestView.SystemName ?? " ")</label>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 form-group">
                    @Html.LabelFor(model => model.AlternativeContactName, Resources.Sales.AlternativeContactName, htmlAttributes: new { @class = "text-info" })
                    @Html.Label(Model.DeliveryRequestView.AlternativeContactName ?? " ", new { @class = "form-control" })
                </div>
                <div class="col-xs-6 form-group">
                    @Html.LabelFor(model => model.AlternativeContactTelephone, Resources.Sales.AlternativeContactTelephone, htmlAttributes: new { @class = "text-info" })
                    @Html.Label(Model.DeliveryRequestView.AlternativeContactTelephone ?? " " , new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3  form-group">
                    <label class="text-info" >@Resources.Store.DeliveryDate</label>
                    @Html.Label(Model.DeliveryRequestView.DeliveryRequestDateTime.ToShortDateString(), new { @class = "form-control" })
                </div>
                <div class="col-xs-3 form-group">
                    <label class="text-info" >@Resources.Store.DeliveryTime</label>
                    @Html.Label(Model.DeliveryRequestView.DeliveryRequestDateTime.ToShortTimeString(), new { @class = "form-control" })
                </div>
                <div class="col-xs-6 form-group">
                    @Html.LabelFor(model => model.DeliveryTechnician, Resources.Store.DeliveryTechnician, htmlAttributes: new { @class = "text-info" })
                    @Html.Label(string.Join(", ",Model.DeliveryRequestTechnician.Select(x=>x.Employee_FullName_en)), new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 form-group">
                    @Html.LabelFor(model => model.Note, Resources.Store.DolphinReference, htmlAttributes: new { @class = "text-info" })
                    @Html.EditorFor(model => model.DolphinReference,new { htmlAttributes= new { @class = "form-control"} })
                </div>
                <div class="col-xs-6 form-group">
                    @Html.LabelFor(model => model.Note, Resources.Store.DeliveryRequestNote, htmlAttributes: new { @class = "text-info" })
                    @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                    @*@Html.Label(Model.DeliveryRequestView.Note ?? " ", new { @class = "form-control" })*@
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 form-group">
                    @using (var tabs = Html.Bootstrap().Begin(new Tabs("DeliveryTabs").Justified()))
                    {
                        tabs.Tab(Resources.Store.DelieryDetails, BootstrapColors.Danger);
                        tabs.Tab(Resources.Store.Devices, BootstrapColors.Success);

                        using (tabs.BeginPanel())
                        {
                            <div class="table-toolbar">
                                <a ng-click="create()" class="btn purple" id="addBtn">
                                    <i class="fa fa-plus"></i> @Resources.Resource.ButtonAdd
                                </a>
                                <a ng-click="DeleteItems($event);" class="btn btn-danger">
                                    <i class="fa fa-times"></i> @Resources.Resource.ButtonDelete
                                </a>
                            </div>
                            <div class="form-group" ng-init="bindGirdData()">
                                @{ Html.RenderAction("Partial_Grid", "Common", new { EnablePagination = false }); }
                            </div>
                        }
                        using (tabs.BeginPanel())
                        {
                            <div class="table-toolbar">
                                <a ng-click="createDevice()" class="btn purple" id="addDeviceBtn">
                                    <i class="fa fa-plus"></i> @Resources.Resource.ButtonAdd
                                </a>
                                <a ng-click="DeleteDevices($event);" class="btn btn-danger">
                                    <i class="fa fa-times"></i> @Resources.Resource.ButtonDelete
                                </a>
                            </div>
                            <div class="form-group" ng-init="bindDeviceGirdData()">
                                @{ Html.RenderAction("Partial_Grid", "Common", new { GridId="deviceGrid", UiGrid = "deviceGridOptions", EnablePagination = false }); }
                            </div>
                        }
                    }
                </div>
                
            </div>
            
        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" value="@Resources.Resource.ButtonSave" class="btn btn-success" />
        <button class="btn btn-default" type="button" ng-click="cancel()" >@Resources.Resource.ButtonCancel</button>
    </div>
}

@section scripts {
    <!--View JS References-->
    <script src="~/Content/js/1.custom-js/Views/Device.js"></script>

    <script>

        var itemFamilies = @Html.Raw(JsonConvert.SerializeObject(((List<SelectListItem>)ViewBag.ItemFamilies)));
        var modelTypes = @Html.Raw(JsonConvert.SerializeObject(((List<SelectListItem>)ViewBag.ModelTypes)));
        var gridData = @Html.Raw(JsonConvert.SerializeObject(Model.DeliveryRequest.DeliveryRequestDetails));
        var DeviceGetInfoUrl = '@Url.Action("GetInfo","Device")';

        $(document).ready(function () {

            $('#form').submit(function (event) {
                if (!$(this).valid()) {
                    event.preventDefault();
                }
            });
        });
    </script>
}




