@model Afaqy_Store.Models.DeliveryNoteDetailsViewModel

<div class="row">
    <div class="col-xs-6 form-group">
        @Html.LabelFor(model => model.POS_ps_code, Resources.Sales.POS, htmlAttributes: new { @class = "text-info" })
        @Html.Label(Model.ps_name, new { @class = "form-control" })
    </div>
    <div class="col-xs-6 form-group">
        @Html.LabelFor(model => model.Warehouse_wa_code, Resources.Adminstration.Warehouse, htmlAttributes: new { @class = "text-info" })
        @Html.Label(Model.wa_name, new { @class = "form-control" })
    </div>
</div>
<div class="row">
    <div class="col-xs-6 form-group">
        @Html.LabelFor(model => model.SaleTransactionTypeId, Resources.Sales.SaleTransactionType, htmlAttributes: new { @class = "text-info" })
        @Html.Label(Model.SaleTransactionType_en, new { @class = "form-control" })
    </div>
    <div class="col-xs-6 form-group">
        @Html.LabelFor(model => model.Customer_aux_id, Resources.ServerManagement.Customer, htmlAttributes: new { @class = "text-info" })
        @Html.Label(Model.CustomerName ?? " ", new { @class = "form-control" })
    </div>
</div>
<div class="row">
    <div class="col-xs-6 form-group">
        @Html.LabelFor(model => model.DolphinCustomerName, Resources.Store.DolphinCustomerName, htmlAttributes: new { @class = "text-info" })
        @Html.Label(Model.DolphinCustomerName ?? " ", new { @class = "form-control" })
    </div>
    <div class="col-xs-6 form-group">
        @Html.LabelFor(model => model.CustomerAccountName, Resources.ServerManagement.ServerCustomerName, htmlAttributes: new { @class = "text-info" })
        @Html.Label(Model.CustomerAccountName ?? " ", new { @class = "form-control" })
    </div>
</div>
<div class="row">
    <div class="col-xs-6 form-group">
        @Html.LabelFor(model => model.CustomerContact_serial, Resources.Sales.CustomerContact, htmlAttributes: new { @class = "text-info" })
        @Html.Label(Model.contact_name ?? " ", new { @class = "form-control" })
    </div>
    <div class="col-xs-6 form-group">
        @Html.LabelFor(model => model.SystemId, Resources.ServerManagement.System, htmlAttributes: new { @class = "text-info" })
        <label class="form-control">@(Model.SystemName ?? " ")</label>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 form-group">
        @Html.LabelFor(model => model.AlternativeContactName, Resources.Sales.AlternativeContactName, htmlAttributes: new { @class = "text-info" })
        @Html.Label(Model.AlternativeContactName ?? " ", new { @class = "form-control" })
    </div>
    <div class="col-xs-6 form-group">
        @Html.LabelFor(model => model.AlternativeContactTelephone, Resources.Sales.AlternativeContactTelephone, htmlAttributes: new { @class = "text-info" })
        @Html.Label(Model.AlternativeContactTelephone ?? " ", new { @class = "form-control" })
    </div>
</div>
<div class="row">
    <div class="col-xs-3  form-group">
        <label class="text-info">@Resources.Store.DeliveryDate</label>
        @Html.Label(Model.TransactionDateTime.ToShortDateString(), new { @class = "form-control" })
    </div>
    <div class="col-xs-3 form-group">
        <label class="text-info">@Resources.Store.DeliveryTime</label>
        @Html.Label(Model.TransactionDateTime.ToShortTimeString(), new { @class = "form-control" })
    </div>
    <div class="col-xs-6 form-group">
        @Html.LabelFor(model => model.DeliveryTechnicians, Resources.Store.DeliveryTechnician, htmlAttributes: new { @class = "text-info" })
        @Html.Label(string.Join(", ", Model.DeliveryTechnicians.Select(x => x.name)), new { @style= "display:block" })
    </div>
</div>
<div class="row">
    <div class="col-xs-6 form-group">
        @Html.LabelFor(model => model.WithInstallationService, Resources.Store.WithInstallationService, htmlAttributes: new { @class = "text-info" })
        @Html.Label(Model.InstallationService, new { @class = "form-control" })
    </div>
</div>
<div class="row">
    <div class="col-xs-6 form-group">
        @Html.LabelFor(model => model.TransactionReference, Resources.Store.TransactionReference, htmlAttributes: new { @class = "text-info" })
        @Html.EditorFor(model => model.TransactionReference, new { htmlAttributes = new { @class = "form-control", @Readonly = "true" } })
    </div>
    <div class="col-xs-6 form-group">
        @Html.LabelFor(model => model.Note, Resources.Store.DeliveryRequestNote, htmlAttributes: new { @class = "text-info" })
        @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>
