@model Afaqy_Store.Models.SIMCardViewModel

@{
    ViewBag.Title = Resources.Store.SIMCardDetails;
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h2 class="modal-title">@Resources.Store.SIMCardDetails</h2>
</div>

@using (Html.BeginForm())
{
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>
               @Resources.Store.SIMCardSerialNumber
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SerialNumber)
            </dd>
            <dt>
               @Resources.Store.SIMCardGSM
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GSM)
            </dd>
            <dt>
                @Resources.Store.SIMCardStatusNameEn
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SIMCardStatus.SIMCardStatusName_en)
            </dd>
            <dt>
                @Resources.Resource.CreateUserFullNameEn 
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreateUser.FullName_En)
            </dd>

            <dt>
                @Resources.Resource.CreateDateTime 
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreateDate)
            </dd>

            <dt>
                @Resources.Resource.ModifyUserFullNameEn
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifyUser.FullName_En)
            </dd>

            <dt>
                @Resources.Resource.ModifyDateTime 
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifyDate)
            </dd>

        </dl>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="cancel()">@Resources.Resource.ButtonOk</button>
    </div>
}
