@model Afaqy_Store.Models.DeviceViewModel

@{
    ViewBag.Title = Resources.Store.DeviceDetails;
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h2 class="modal-title">@Resources.Store.DeviceDetails</h2>
</div>

@using (Html.BeginForm())
{
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>
               @Resources.Store.DeviceSerialNumber
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SerialNumber)
            </dd>
            <dt>
               @Resources.Store.DeviceIMEI
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IMEI)
            </dd>
            <dt>
                @Resources.Store.Firmware
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Firmware)
            </dd>
            <dt>
                @Resources.Store.DeviceModelType
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DeviceModelType.ModelTypeName)
            </dd>
            <dt>
                @Resources.Store.DeviceStatus
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DeviceStatus.DeviceStatus_en)
            </dd>
            <dt>
                @Resources.Resource.CreateUserFullNameEn 
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreateUser.FullName_En)
            </dd>

            <dt>
                @Resources.Resource.CreateDateTime 
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreateDate)
            </dd>

            <dt>
                @Resources.Resource.ModifyUserFullNameEn
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifyUser.FullName_En)
            </dd>

            <dt>
                @Resources.Resource.ModifyDateTime 
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifyDate)
            </dd>

        </dl>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="cancel()">@Resources.Resource.ButtonOk</button>
    </div>
}
