@model Security.Models.SystemRoleDetailsViewModel

@{
    ViewBag.Title = Resources.Security.SystemRoleDetails;
    Layout = "~/Views/Shared/_Popup.cshtml";
}

<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h2 class="modal-title">@Resources.Security.SystemRoleDetails</h2>
</div>

@using (Html.BeginForm())
{
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>
               @Resources.Security.SystemRoleNameEn
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RoleName_en)
            </dd>

            <dt>
                @Resources.Security.SystemRoleNameAr
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RoleName_ar)
            </dd>
            
            <dt>
                @Resources.Resource.IsBlock
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Block)
            </dd>

            <dt>
                @Resources.Resource.CreateUserFullNameEn
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreateUser.CreateUser_FullName_en)
            </dd>

            <dt>
                @Resources.Resource.CreateDateTime
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreateDate)
            </dd>

            <dt>
                @Resources.Resource.ModifyUserFullNameEn
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifyUser.User_FullName_en)
            </dd>

            <dt>
                @Resources.Resource.ModifyDateTime
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifyDate)
            </dd>
        </dl>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="cancel()">@Resources.Resource.ButtonOk</button>
    </div>
}
