@using Afaqy_Store.Models
@using BeyondThemes.Bootstrap;
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_Empty.cshtml"; ;
}

<style>
    .login-container .loginbox .loginbox-remember
    {
        padding: 5px 40px;
    }

   
</style>

<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
</div>

<div class="modal-body">
    <div class="login-container animated fadeIn">
        <div class="loginbox bg-white">
            <div class="loginbox-title">@Resources.Resource.SingIn</div>
            @*@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                <div class="loginbox-or">
                    <div class="or-line"></div>
                    <div class="or">OR</div>
                </div>*@
            @using (var form = Html.Bootstrap().Begin(new Form().Type(FormType.Vertical)))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.AntiForgeryToken()
                <div class="loginbox-textbox">
                    @Html.Bootstrap().TextBoxFor(t => t.Email).Placeholder(Resources.Resource.Email)
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div class="loginbox-textbox">
                    @Html.Bootstrap().PasswordFor(t => t.Password).Placeholder(Resources.Resource.Password)
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="loginbox-remember">
                    @Html.Bootstrap().CheckBoxFor(t => t.RememberMe).HtmlAttributes(new { @class = "checkbox-slider  colored-blue" })
                </div>
                <div class="loginbox-forgot">
                    <a href="">@Resources.Resource.ForgetPassword</a>
                </div>
                    <div class="loginbox-submit">
                        @Html.Bootstrap().SubmitButton().Text(Resources.Resource.Login).Color(BootstrapColors.Primary).ButtonBlock()
                    </div>
                    <div class="loginbox-signup">
                        @Html.ActionLink(Resources.Resource.SignUpWithEmail, "Register", "Account")
                    </div>
                    }
        </div>
        @*<div class="logobox">
            </div>*@
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">@Resources.Resource.ButtonCancel</button>
</div>
    
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
