@model Afaqy_Store.Models.SIMCardProviderViewModel

@{
    ViewBag.Title = Resources.Adminstration.SIMCardProviderDetails;
    Layout = "~/Views/Shared/_Popup.cshtml";
}

<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h2 class="modal-title">@Resources.Adminstration.SIMCardProviderDetails</h2>
</div>

@using (Html.BeginForm())
{
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>
               @Resources.Adminstration.SIMCardProviderId
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProviderId)
            </dd>
            <dt>
               @Resources.Adminstration.SIMCardProviderNameEn
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProviderName_en)
            </dd>
            <dt>
                @Resources.Adminstration.SIMCardProviderNameAr
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProviderName_ar)
            </dd>
        </dl>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="cancel()">@Resources.Resource.ButtonOk</button>
    </div>
}
